# Remove the folder CMakeFiles
CMakeFiles/
MakeFile
# Remove the CMakeCache.txt file
CMakeCache.txt

# Remove the cmake_install.cmake file
cmake_install.cmake

# Remove the vscode folder
.vscode/

build/

